@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Poppins:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    
}

header{
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
}
header .logo{
    width: 70%;
    
}
header .logo img{
    width: 100px;
    
}
header .menu ul{
    display: flex;
}
header .menu ul li{
    padding: 0 20px;
    list-style: none;
}
header .menu ul li a{
    text-decoration: none;
    /*text-transform: uppercase;*/
    color: #fff;
}
header .menu ul li a:hover{
    color: #156fc3;
}
header .menu-mobile{
    display: none;
}
header .btn-mobile{
    display: none;
}

/*==Home==*/
#home .container{
    width: 100%;
    height: 100vh;
    background: url(img/teste.png);
    background-size: cover;
    display: flex;
}
#home .container .icons{
    width: 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    position: fixed;
    z-index: 999;
}
#home .container .icons ion-icon{
    padding: 30px 0;
    font-size: 2rem;
    color: #fff;
    transition: 0.3 ease;
}
#home .container .icons ion-icon:hover{
    color: #156fc3;
}
#home .container .title{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 60px;
}
#home .container .title h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 5px;
}
#home .container .title h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2rem;
    margin-left: 30px;
    margin-top: 30px;
    margin-left: 35px;
}
#home .container .title h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 20px;
}

/*==About==*/
#about .container{
    width: 100%;
    height: 100vh;
    background: url(img/teste\ 3.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    

}
#about .container .title{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*justify-content: center;*/
    padding: 50px 50px ;
}
#about .container .title h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: left;
}
#about .container .title p{
    color: #fff;
    width: 500px;
    margin-top: 30px;
}
#about .container .box-title{
    width: 410px;
    height: 55vh;
    margin-top: 20px;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 rgba(21,111,195,0.5);
    border-radius: 30px;
}
#about .container .box-title span{
    color: #fff;
}
#about .container .box-title .b1{
    width: 390px;
    height: 8px;
    background: #fff;
    margin-top: 2px;
    border-radius: 5px;
}
#about .container .box-title .b2{
    width: 195px;
    height: 8px;
    background: #156fc3;
    border-radius: 5px;
}
#about .container .box-title .b3{
    width: 195px;
    height: 8px;
    background: #156fc3;
    border-radius: 5px;
}
#about .container .box-title .b4{
    width: 195px;
    height: 8px;
    background: #156fc3;
    border-radius: 5px;
}
#about .container .box-title .b5{
    width: 195px;
    height: 8px;
    background: #156fc3;
    border-radius: 5px;
}
#about .form{
    position: relative;
    display: flex;
    left: 700px;
    flex-direction: column;
    bottom: 330px;
    background-size: cover;
    font-size: 15px;
    /*border-radius: 20px;
    box-shadow: 10px 10px 30px 10px rgba(21,111,195,0.5);*/
}
/*#about .form h2{
    position: absolute;
    display: flex;
    left: 800px;
    bottom: -435px;
    
}
#about .form span{
    position: absolute;
    display: flex;
    left: 800px;
    bottom: -500px;
    
}*/
.video video{
    padding: 5px 5px;
    position: absolute;
    display: flex;
    left: 850px;
    top: 700px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgba(21,111,195,0.5);
    width: 30%;
}
/*.video p{
    color: #fff;
    position: absolute;
    display: flex;
    left: 800px;
    top: 790px;
    border-radius: 20px;
}*/

/*==Projetos==*/
#port .container{
    width: 100%;
    height: 100vh;
    background: url(img/teste\ 3.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}
#port .container input[type=radio]{
    display: none;
}
#port .container .card{
    position: absolute;
    width: 60%;
    height: 60%;
    left: 0;
    right: 0;
    margin: 150px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /*box-shadow: 0 0 10px 0 rgba(21,111,195,0.5);*/
    transition: 0.4s ease;
    cursor: pointer;
}
#port .container .card img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#port .container .card h1{
    position: absolute;
    z-index: 9;
    color: rgb(17, 23, 104);
    font-size: 3rem;
    margin-top: 50px;
    margin-right: 110px;
}
#port .container .card p{
    position: absolute;
    z-index: 9;
    width: 400px;
    color: rgb(12, 13, 97);
    margin-top: 200px;
    text-align: center;
    
}
#port .container .card button{
    position: absolute;
    z-index: 9;
    margin-top: 300px;
    padding: 1px 10px;
    border-radius: 20px;
    border: none;
    color: rgb(255, 255, 255);
    background: rgba(21,111,195,0.5);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
}
#port .container .card a{
    position: absolute;
    z-index: 9;
    margin-top: 330px;
    padding: 10px 20px;
}
#port .container .cards{
    position: relative;
    width: 100%;
    height: 100%;
}
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
    transform: translatex(0%) scale(1);
    opacity: 1;
    z-index: 1;
}
/*==Contatos==*/
#contact .container{
    width: 100%;
    height: 100vh;
    background: url(img/teste\ 3.png);
    background-size: cover;
    
    
}
#contact .container .content-contact{
    width: 90%;
    height: 30vh;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
#contact .content-contact .contact-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
        
}
#contact .content-contact .contact-left h1{
    font-size: 2rem;
    text-transform: uppercase;
}
#contact .content-contact .linha{
    width: 350px;
    height: 3px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact .content-contact .contact-left ion-icon{
    font-size: 1.5rem;
    padding: 2px;
}
#contact .content-contact .contact-left span{
    font-size: 1rem;
    padding: 0px;
    position: relative;
    top: -32px;
}
#contact .content-contact .contact-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    color:#fff ;
}
#contact .content-contact .contact-right h1{
    font-size: 2rem;
    text-transform: uppercase;
}
#contact .content-contact .contact-right ion-icon{
    font-size: 1.5rem;
    padding: 0;
}
#contact .content-contact .contact-right span{
    position: relative;
    bottom: -30px;
    right: 200px;
    
}
#contact .content-contact .contact-right input[type=email],
#contact .content-contact .contact-right input[type=text]{
    border-radius: 20px;
    border: none;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
}
#contact .content-contact .contact-right textarea{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
    padding: 15px 20px;
}
footer{
    /*width: 100%;
    height: 80px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -80px;
    left: 0;
    bottom: 0;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    
 }
 footer .icons{
    letter-spacing: 20px;
 }
 footer .icons ion-icon{
    padding: 5px 0;
    font-size: 1.5rem;
    color: #fff;
    transition: 0.3 ease;
}
 footer .icons ion-icon:hover{
    color: #156fc3;
}
.btnOpenModal{
    font-size: x-large;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: aliceblue;
    cursor: pointer;
}
hr{
    border: 0px;
    border-top: 1px solid lightgray;

}
.modal-container{
    width: 100vw;
    position: fixed;
    top: 10px;
    display: none;
    z-index: 999;
    justify-content: center;
}
.modal{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 50%;
    height: 60vh;
}
.active{
    display: flex;
}
.active .modal{
    animation: modal .4s;
}
@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
span{
    margin: 10px auto;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btns button{
    position: fixed;
    top: -280px;
    left: 570px;
    
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    
}
.btnOpenModal2{
    font-size: x-large;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: aliceblue;
    cursor: pointer;
}
hr{
    border: 0px;
    border-top: 1px solid lightgray;

}
.modal-container2{
    width: 100vw;
    position: fixed;
    top: 10px;
    display: none;
    z-index: 999;
    justify-content: center;
}
.modal2{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 50%;
    height: 60vh;
}
.active{
    display: flex;
}
.active .modal2{
    animation: modal .4s;
}
@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
span{
    margin: 10px auto;
}
.btns2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btns2 button{
    position: fixed;
    top: -280px;
    left: 570px;
    
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    
}

.btnOpenModal3{
    font-size: x-large;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: aliceblue;
    cursor: pointer;
}
hr{
    border: 0px;
    border-top: 1px solid lightgray;

}
.modal-container3{
    width: 100vw;
    position: fixed;
    top: 10px;
    display: none;
    z-index: 999;
    justify-content: center;
}
.modal3{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 50%;
    height: 60vh;
}
.active{
    display: flex;
}
.active .modal3{
    animation: modal .4s;
}
@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
span{
    margin: 10px auto;
}
.btns3{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btns3 button{
    position: fixed;
    top: -280px;
    left: 570px;
    
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
}

/*===Navegação scrool===*/
nav{
    position: sticky;
    top: 0;
    /*background-color: white;*/
}
nav .menu{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    display: inline-block;
}
nav .menu ul li a{
    display: inline-block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}
/*===Ativação===*/
nav .menu ul li.active{
    background-color: crimson;
    transition: 0.3s ease background-color;
}
nav .menu ul li.active a{
    color: white;
}

/*.btnOk{
    background-color: blue;
}
.btnClose{
    background-color: brown;
   
}*/
@media (max-width: 500px){
    .modal{
        padding: 10px;
        width: 80%;
    }
    span .btns button{
        font-size: smaller;
    }
}



/*==Responsividade==*/
@media screen and (max-width: 1280px){
    #home .container .icons ion-icon{
       font-size: 1.5rem;
    }
    #port .container .card h1{
        font-size: 3rem;
        margin-top: 35px;
       
       
    }
    #port .container .card p{
        width: 280px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 960px){
    body{
        background: url(img/teste\ 3.png);
    }
    header{
        background: none;
    }
    header .logo{
        width: 600px;
    }
    header .menu{
        display: none;
    }
    header .btn-mobile{
        display: block;
    }
    header .btn-mobile ion-icon{
        color: #fff;
        font-size: 1.5rem;
    }
    header .menu-mobile{
        display: none;
        width: 40%;
        height: 18vh;
        box-shadow: 0 0 15px 0 rgba(21,111,195,0.5);
        position: fixed;
        top: 20px;
        border-radius: 10px;
        background: #156fc3;
    }
    header .menu-mobile ul{
        text-align: center;
    }
    header .menu-mobile ul li{
        list-style: none;
        padding: 5px 0;
    }
    header .menu-mobile ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
    }
    #home .container .icons{
        padding: 0 20px;
    }
    #home .container .title{
        align-items: center;
    }
    #home .container .title h1{
        font-size: 2rem;
        margin-top: 250px;
      
    }
    #home .container .title h2{
        font-size: 1.5rem;
        margin-top: 400px;
    }
    #about .container .title{
        align-items: center;
    }
    #about .container .title h1{
        font-size: 1.2rem;
        align-items: center;
    }
    #about .container .title p{
        font-size: 1rem;
        align-items: center;
        text-align: center;
    }

    #about .container .box-title{
        width: 100%;
        height: 53vh;
    }
    #about .container .box-title .b1{
        width: 100%;
        
    }
    #about .container .box-title .b2{
        width: 90%;
    }
    #about .container .box-title .b3{
        width: 80%;
    }
    #about .container .box-title .b4{
        width: 87%;
    }
    #about .container .box-title .b5{
        width: 76%;
    }
    #port .container .card h1{
        font-size: 3rem;
        margin-top: 35px;
    }
    #port .container .card p{
        width: 280px;
        font-size: 0.9rem;
    }
    /*#port .container .card img{
         width: 50%;
         height: 50%;
    }*/
    #port .container .cards{
        display: flex;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
    }
    #contact .container .content-contact{
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #contact .content-contact .contact-left h1{
        font-size: 1.5rem;
    }
    #contact .content-contact .contact-left ion-icon{
        font-size: 1.5rem;
        padding: 5px 0;
    }
    #contact .content-contact .contact-left span{
        font-size: 1rem;
        padding: 5px 0;
    }
    #contact .content-contact .contact-right h1{
        font-size: 1.5rem;
        margin-top: 20px;
    }
    #contact .content-contact .contact-right input[type=email],
    #contact .content-contact .contact-right input[type=text]{
        padding: 5px 12px;
        font-size: 1rem;
    }
    #contact .content-contact .contact-right textarea{
        padding: 10px 15px;
        font-size: 1rem;
        width: 100%;
        height: 120%;
    }
}
@media screen and (max-width: 600px){
    header{
        padding: 10px;
    }
    #home .container .title h2{
        letter-spacing: 23px;
        font-size: 1.5rem;
        
    }
    #home .container .title h3{
        letter-spacing: 20px;
        
    }
    #about .container .title{
        padding: 10px 60px;
    }
    #about .container .title p{
        width: 100%;
        margin-top: 10px;
        font-size: 15px;
    }
    #about .container .box-title{
        width: 100%;
        height: 40vh;
    }
    #about .container .box-title .b1{
        width: 100%;
        margin-top: 20px;
        
    }
    #about .container .box-title .b2{
        width: 50%;
    }
    #about .container .box-title .b3{
        width: 50%;
    }
    #about .container .box-title .b4{
        width: 50%;
    }
    #about .container .box-title .b5{
        width: 50%;
    }
    #port .container .card{
        width: 50%;
        height: 25%;
    }
    #port .container .card h1,p{
        display: none;
    }
    #port .container .card button{
        margin-top: 50%;
        font-size: 9px;
    }
    #port .container .card a{
        margin-top: 30%;
    }
            
    
}       